
WEBHOOK_PROXY_URL= # your ngrok.com/smee.io link here

WEBHOOK_SECRET= # your github app webhook secret here

APP_ID= # your github app id here

# private key (replace the content inside the quotes with yours)
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----
"

# redis cache for config caching (optional)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
